.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
  padding: 20px;
}

.card {
  position: relative;
  background: rgb(146, 143, 143);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-15px);
  transform: scale(1.1);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
}

.price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #1a7a3d;
}

.deleteBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff4d4d;
  border: none;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.2s;
}

.deleteBtn:hover {
  background: #d93636;
}

.addBtn {
  margin-top: 12px;
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.addBtn:hover {
  background: #2563eb;
}

.status {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
